body{

	background-image: url("../images/homebg.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}
.welcome{
	position:relative;
	text-align: center;
	color:navy;
	font-size:100px;
	text-shadow: 2px 2px #FF0000;
	line-height: 1.2;
	text-rendering: optimizeLegibility;
}
.welcome span{
	line-height: 1.2;
	text-rendering: optimizeLegibility;
}
