{% extends 'Base/innerBase.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	<br><br><br><br><br><br>
	<a href="http://127.0.0.1:8090/cookiedetails/" target="_blank"> cookie </a>
	<h3 style="margin-left:50px;">To understand tabnabbing issue click <a><button onclick="window.open('http://127.0.0.1:8090/cookiedetails/')">here</button></a></h3>
	<br><br>

	<a href="http://127.0.0.1:8090/cookiedetails/" target="_blank"> cookie anchor </a> <br> <br><br>
	<button onclick="window.open('http://127.0.0.1:8090/cookiedetails/')">Cookie button</button>

{% endblock %}
